

<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
    <div class="jumbotron bg-transparent">
       <div class="row text-center">
        <div class="col-md-12 text-center">
           <a class="nav-link" [routerLink]="['/']"> <img src="../../../assets/logoprefeitura.png" width="320px"></a>
        </div>
       </div>
       <div class="row text-center">
       <div class="col-md-12 text-center">
        <h1 class=" text-center">Postos de vacinação!</h1>
        <p class="text-justify mt-4">Aviso: o mapa indica os postos de vacinação existentes na cidade de Campina Grande/PB. . Novas informações serão divulgadas sobre a ativação 
            dos demais postos. SE INFORME SE JÁ ESTÁ DISPONÍVEL A VACINA NO POSTO MAIS PRÓXIMO E SE VOCÊ FAZ PARTE DO GRUPO PRIORITÁRIO.</p>
           </div>
           </div>
           

           <div class="row mt-4">
               <div class="col-md-12">
                <div class="container text-center">
                    <div class="card shadow">
                        <div class="card-body">
                           
                        </div>
                      </div>
                    </div>
               </div>
           </div>
           
      </div>
    </div>
</div>
</div>
<app-header></app-header>



<div class="container-fluid shadow bg-light text-right">
    <div class="row text-right">
        <div class="col-md-12 text-right">
    Parceiros <img src="../../../assets/logoInepp_vaz.png" class="mt-2" height="80px">
 </div>
 
 </div>
 
 </div>
 
     