

<app-navbar></app-navbar>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
  </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
    <div class="jumbotron bg-transparent">
       <div class="row text-center">
        <div class="col-md-12 text-center">
            <img src="../../../assets/logoprefeitura.png" width="320px">
        </div>
       </div>
       <div class="row text-center">
       <div class="col-md-12 text-center">
        <h1 class=" text-center">Obrigado!</h1>
        <h3 class="text-center mt-2"><b>Pré-Agendamento realizado com sucesso</b></h3>
           </div>
           </div>

           <div class="row mt-4">
               <div class="col-md-12">
                <div class="container text-center">
                    <div class="card shadow">
                        <div class="card-body">
                          <h5 class="card-title">Atenção</h5>
                          <p class="card-text">A cidade de Campina Grande/PB não envia mensagens de texto (SMS) com links ou realiza contato telefônico para solicitar ou validar dados e informações.</p>
                          <button type="button" [routerLink]="['/']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg">Retornar ao inicio</button>
                        </div>
                      </div>
                    </div>
               </div>
           </div>
           
      </div>
    </div>
</div>
</div>
<app-header></app-header>



<div class="container-fluid shadow bg-light text-right">
    <div class="row text-right">
        <div class="col-md-12 text-right">
    Parceiros <img src="../../../assets/logoInepp_vaz.png" class="mt-2" height="80px">
 </div>
 
 </div>
 
 </div>
 
     