

<app-navbar></app-navbar>
<div class="container-fluid shadow bg-vacina">
    <div class="row">
    <div class="col-md-12  text-center">
        <img src="../../../assets/vacina_campina.png" class="image-slider">
      </div>
     
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
    <div class="jumbotron bg-transparent">
       <div class="row text-center">
        <div class="col-md-12 text-center">
            <img src="../../../assets/logoprefeitura.png" width="320px">
        </div>
       </div>
       <div class="row text-center">
       <div class="col-md-12 text-center">
        <h3 class="text-center mt-2"><b>#VacinaCampinaGrande</b></h3>
        <p class=" text-center">Plano Municipal de operacionalização da Vacinação contra a <b>COVID-19</b></p>
          
           </div>
           </div>
           <div class="row text-center">
            <div class="col-md-6 mt-2">
                <button type="button" [routerLink]="['/preagendamento']" routerLinkActive="router-link-active"  class="btn btn-success btn-lg btn-block">Pré-agendamento</button>
            </div>
            <div class="col-md-6 mt-2">
                <button type="button" [routerLink]="['/locais']" routerLinkActive="router-link-active"  class="btn btn-primary btn-lg btn-block">Locais de atendimento</button>
        </div>
               </div>
      </div>
    </div>
</div>
</div>
    
<app-header></app-header>



<div class="container-fluid shadow bg-light text-right">
    <div class="row text-right">
        <div class="col-md-12 text-right">
    Parceiros <img src="../../../assets/logoInepp_vaz.png" class="mt-2" height="80px">
 </div>
 
 </div>
 
 </div>
 
     